<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">about</h3></div>
                <div class="card-body">
                    <% let content%>
                    <% let title %>
                    <% if(about != null){%>
                        <% title =about.title%>
                        <% content =about.content%>
                    <%}else{%>
                        <% title = "notitle" %>
                        <% content ="no content"%>
                    <%}%>
                    <form>
                        <label class="mb-2 " for="inputtext">
                            Title
                        </label>
                        <div class="form-floating mb-3">
                            <input name="title" class="form-control" id="inputTitle" type="text" placeholder="" value= "<%=title%>"/>
                            
                        </div>
                        <label class="mb-2" for="exampleFormControlTextarea1">Content</label>
                        <div class="form-floating mb-3">
                           
                            <textarea name="body" class="form-control" id="inputContent" rows="10" cols="10" style="height: 200px;" ><%=content%></textarea>
                        </div>
                        <div class="form-check mb-3">
                            
                        </div>
                       
                    </form>
                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0 text-center">
                            
                        <button class="btn btn-primary text-center" type="button" id="about">Save</button>
                     </div>
                     <script src="js/aboutLocal.js"></script>
                </div>
             </div>
        </div>
    </div>
</div>

